.typeon{
    background: #dddddd;
}

.parton{
    background: #dddddd;
}

.meterialon{
    background: #dddddd;
}

.lineon{
    background: #dddddd;
}

.onlineText {
    color:#5cb85c;
}

.createbtn{
    margin-left: 20px;
}
.rich{
    height: 100px;
}
.none{
    display: none;
}